# Shell Astro
# URLs publicas para cargar micro-frontends en modo hot
PUBLIC_REACT_MF_DEV_URL=http://127.0.0.1:5173
PUBLIC_ANGULAR_MF_DEV_URL=http://127.0.0.1:4201

# URLs publicas para modo desplegado (si quieres usar demo-hot tambien en stage/prod)
PUBLIC_REACT_MF_PROD_URL=https://react-mf.example.com
PUBLIC_ANGULAR_MF_PROD_URL=https://angular-mf.example.com

# Origenes permitidos para carga remota en shell (CSV)
PUBLIC_ALLOWED_REMOTE_ORIGINS=http://127.0.0.1:5173,http://127.0.0.1:4201

# Timeout de carga de modulos remotos (ms)
PUBLIC_MF_MODULE_TIMEOUT_MS=8000
