# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
# Solo ignorar .env local (sobrescribe las demás variables)
.env
.env.local

# Los siguientes SE versionan en Git:
# .env.example (plantilla)
# .env.development (desarrollo)
# .env.production (producción)

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
